<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<h1>Produkty </h1><br>

<h2>{{ item_name }}</h2><br>
Dostępnych sztuk: {{ item_stock }}<br>
Cena: {{ item_price }} zł.<br>
Item test: {{ item_test[1] }} <br>

{% for value in item_test %}
    {{value}} <br>
{% endfor %}



<br><br>
aby powrócić kliknij <a href="/">TUTAJ</a>



</body>

</html>